.btn {
    background-color: blanchedalmond;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: background-color ease 300ms, border-color ease 300ms;
}
.btn:hover {
    background-color: #000;
    color: #fff;
}
